<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.person.dao.PersonDAO">
	<resultMap id="persons" type="Person">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="cardno" property="cardNo" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="address" property="address" />
		<result column="zip" property="zip" />
		<result column="mobile" property="mobile" />
		<result column="tel" property="tel" />
		<result column="email" property="email" />
		<result column="nation" property="nation" />
		<result column="education" property="education" />
		<result column="company" property="company" />
	</resultMap>

	<select id="getPersonsByPage" resultMap="persons">
		SELECT *
		FROM (SELECT a.*, ROWNUM rn
		FROM (SELECT *
		FROM person p
		<where>
			<if test="name != null">
				AND lower(p.name) like ('%'||(lower(#{name}))||'%')
			</if>
			<if test="gender != null">
				AND lower(p.gender) like ('%'||(lower(#{gender}))||'%')
			</if>
			<if test="address != null">
				AND lower(p.address) like ('%'||(lower(#{address}))||'%')
			</if>
			<if test="zip != null">
				AND lower(p.zip) like ('%'||(lower(#{zip}))||'%')
			</if>
			<if test="mobile != null">
				AND lower(p.mobile) like ('%'||(lower(#{mobile}))||'%')
			</if>
			<if test="education != null">
				AND lower(p.education) like ((lower(#{education})))
			</if>
			<if test="company != null">
				AND lower(p.company) like ('%'||(lower(#{company}))||'%')
			</if>
			<if test="nation != null">
				AND lower(p.nation) like ('%'||(lower(#{nation}))||'%')
			</if>
		</where>
		) a
		WHERE ROWNUM &lt;= #{limit})
		WHERE rn &gt;=#{startPage}
	</select>

	<select id="findById" parameterType="int" resultType="PersonDetail">
		select *
		from person where id=#{id}
	</select>

	<delete id="deleteById" parameterType="int">
		delete from person where
		id=#{id}
	</delete>
</mapper>